

#yeah_btn {


    background-color: red;
    text-transform: uppercase;
    width: 150px;
    height: 150px;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


#second_btn {


    background-color: blue;
    text-transform: uppercase;
    width: 150px;
    height: 150px;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}